body {
     margin-left: 300px;
     background-color: rgb(255, 206, 222);
     font-weight: 700;
}
.game_field {
     border-radius: 4px;
     width: 340px;
     height: 340px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.cell {
     background-color: rgba(255, 172, 237, 0.884);
     border: 1px solid rgba(54, 0, 43, 0.884);
     gap: 3px;
     width: 30px;
     height: 30px;
}
.snake {
     background-color: rgb(179, 27, 153);
}
.food {
     background-image: url(./pngwing.com.png);
}
.buttons {
     margin-left: 80px;
     button {
          width: 40px;
          height: 40px;
          margin-top: 10px;
          background-color: rgba(255, 172, 237, 0.884);
          border: 0px;
     }
}